.skill-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 10px;
  background: #f9f9f9;
  font-weight: 500;
}

.skill-card i {
  font-size: 28px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}
